<?xml version="1.0" encoding="UTF-8"?>
<LanguageData>

	<WVC_BiotechSettings>Xenotypes and Genes</WVC_BiotechSettings>

	<WVC_BiotechSettings_Label_Graphics>Graphics</WVC_BiotechSettings_Label_Graphics>
	<WVC_BiotechSettings_Label_Genes>Genes</WVC_BiotechSettings_Label_Genes>
	<WVC_BiotechSettings_Label_Other>Other</WVC_BiotechSettings_Label_Other>

	<WVC_BiotechSettings_Tooltip_Graphics>Settings responsible for graphic elements.</WVC_BiotechSettings_Tooltip_Graphics>
	<WVC_BiotechSettings_Tooltip_Genes>Settings responsible for the special effects of genes.</WVC_BiotechSettings_Tooltip_Genes>
	<WVC_BiotechSettings_Tooltip_Other>Settings not related to anything specific.</WVC_BiotechSettings_Tooltip_Other>

	<!-- ====================================================================================== -->
	<WVC_Label_disableFurGraphic>Disable mechaskin/nodeskin graphic</WVC_Label_disableFurGraphic>
	<WVC_ToolTip_disableFurGraphic>Turns off the visual changes introduced by Mechaskins.

A restart is required to apply the setting.</WVC_ToolTip_disableFurGraphic>

	<!-- ====================================================================================== -->
	<WVC_Label_enableGeneSpawnerGizmo>Enable gene-spawner gizmo</WVC_Label_enableGeneSpawnerGizmo>
	<WVC_ToolTip_enableGeneSpawnerGizmo>Responsible for displaying the informational gizmo of spawner genes. These gizmos write the name of the resource and the time before it spawns.</WVC_ToolTip_enableGeneSpawnerGizmo>

	<!-- ====================================================================================== -->

	<!-- Immortality genes: Deathless, ageless, scarless, non-senescent and perfect immunity. -->
	<WVC_Label_mechaskinTemperatureAdaptability>Mechaskin forced temperature</WVC_Label_mechaskinTemperatureAdaptability>
	<WVC_ToolTip_mechaskinTemperatureAdaptability>Adds a temperature immunity effect to the mechaskin.</WVC_ToolTip_mechaskinTemperatureAdaptability>

	<!-- ====================================================================================== -->
	<WVC_Label_minWastepacksPerRecharge>Force minimal waste</WVC_Label_minWastepacksPerRecharge>
	<WVC_ToolTip_minWastepacksPerRecharge>Force the minimum amount of waste produced by mechanoids, preventing it from dropping below 1.

Nodeskin VX allows you to reduce the bandwidth cost to 0, which causes the mechanoids to stop making waste. If you need waste produced by mechanoids, then enable this option.

A restart is required to apply the setting.</WVC_ToolTip_minWastepacksPerRecharge>

	<!-- ====================================================================================== -->
	<WVC_Label_nodeskinVX_MechBandwidth>Enable Nodeskin VX bandwidth limit</WVC_Label_nodeskinVX_MechBandwidth>
	<WVC_ToolTip_nodeskinVX_MechBandwidth>Responsible for whether Nodeskin VX will have a limit on the number of bandwidth.</WVC_ToolTip_nodeskinVX_MechBandwidth>

	<!-- ====================================================================================== -->
	<WVC_Label_enableStatSkillFactor>Enable stat skill factor</WVC_Label_enableStatSkillFactor>
	<WVC_ToolTip_enableStatSkillFactor>Responsible for whether the stat factor on skills will be applied or not.</WVC_ToolTip_enableStatSkillFactor>

	<!-- ====================================================================================== -->
	<!-- <WVC_Label_mecaXenotypeIsInheritable>Meca xenotype have inheritable genes</WVC_Label_mecaXenotypeIsInheritable> -->
	<!-- <WVC_ToolTip_mecaXenotypeIsInheritable>Changes Meca xenotype allowing genes to be inherited. What makes this xenotype compatible with sangophages and other xenogeneic xenotypes.</WVC_ToolTip_mecaXenotypeIsInheritable> -->

	<!-- <WVC_Label_mechanoidizationGenesPatch>Patch for vanilla genes</WVC_Label_mechanoidizationGenesPatch> -->
	<!-- <WVC_ToolTip_mechanoidizationGenesPatch>Patches some genes, changing the base effect to an effect that depends on other genes, thus making the genes more versatile. -->

<!-- If you have a conflict with other mods, disable this patch.</WVC_ToolTip_mechanoidizationGenesPatch> -->

	<!-- ====================================================================================== -->

	<!-- <WVC_StatPart_Mechanoidization>Mechanoidization</WVC_StatPart_Mechanoidization> -->
	<!-- <WVC_StatPart_ArchitesInBloodstream>Archites in bloodstream</WVC_StatPart_ArchitesInBloodstream> -->

	<WVC_StatPart_GenesCombo_Cause>Mecha-genes</WVC_StatPart_GenesCombo_Cause>
	<WVC_StatPart_GenesCombo_Static>Forced to</WVC_StatPart_GenesCombo_Static>
	<!-- <WVC_StatPart_GenesCombo_ForcedByStat>Forced by</WVC_StatPart_GenesCombo_ForcedByStat> -->

</LanguageData>