<?xml version="1.0" encoding="UTF-8"?>
<LanguageData>

	<WVC_BiotechSettings>Xenotypes and Genes</WVC_BiotechSettings>

	<WVC_BiotechSettings_Tab_General>General</WVC_BiotechSettings_Tab_General>
	<WVC_BiotechSettings_Tab_XenotypesFilter>Xenotypes Filter</WVC_BiotechSettings_Tab_XenotypesFilter>

	<WVC_BiotechSettings_Label_Graphics>Graphics</WVC_BiotechSettings_Label_Graphics>
	<WVC_BiotechSettings_Label_Genes>Genes</WVC_BiotechSettings_Label_Genes>
	<WVC_BiotechSettings_Label_Other>Other</WVC_BiotechSettings_Label_Other>

	<WVC_BiotechSettings_Tooltip_Graphics>Settings responsible for graphic elements.</WVC_BiotechSettings_Tooltip_Graphics>
	<WVC_BiotechSettings_Tooltip_Genes>Settings responsible for the special effects of genes.</WVC_BiotechSettings_Tooltip_Genes>
	<WVC_BiotechSettings_Tooltip_Other>Settings not related to anything specific.</WVC_BiotechSettings_Tooltip_Other>

	<WVC_BiotechSettings_XenotypesFilter_Reset>Reset to default</WVC_BiotechSettings_XenotypesFilter_Reset>
	<WVC_BiotechSettings_XenotypesFilter_Title>Set xenotypes that can be used for serums. Restart is required.</WVC_BiotechSettings_XenotypesFilter_Title>
	<WVC_BiotechSettings_XenotypesFilter_Search>Search:</WVC_BiotechSettings_XenotypesFilter_Search>

	<!-- ====================================================================================== -->
	<WVC_Label_disableFurGraphic>Disable mecha/node/rune/stone(skin) graphic</WVC_Label_disableFurGraphic>
	<WVC_ToolTip_disableFurGraphic>Turns off the visual changes introduced by (...)skins.

Note that the "exoskinist" meme precepts only work if graphics are enabled.
A restart is required to apply the setting. Required new game!</WVC_ToolTip_disableFurGraphic>

	<!-- ====================================================================================== -->
	<WVC_Label_enableGeneSpawnerGizmo>Enable gene-spawner gizmo</WVC_Label_enableGeneSpawnerGizmo>
	<WVC_ToolTip_enableGeneSpawnerGizmo>Responsible for displaying the informational gizmo of spawner genes. These gizmos write the name of the resource and the time before it spawns.</WVC_ToolTip_enableGeneSpawnerGizmo>

	<!-- ====================================================================================== -->
	<WVC_Label_minWastepacksPerRecharge>Force minimal waste</WVC_Label_minWastepacksPerRecharge>
	<WVC_ToolTip_minWastepacksPerRecharge>Force the minimum amount of waste produced by mechanoids, preventing it from dropping below 1.

Nodeskin VX allows you to reduce the bandwidth cost to 0, which causes the mechanoids to stop making waste. If you need waste produced by mechanoids, then enable this option.

A restart is required to apply the setting.</WVC_ToolTip_minWastepacksPerRecharge>

	<!-- ====================================================================================== -->
	<WVC_Label_enableStatSkillFactor>Enable stat skill factor</WVC_Label_enableStatSkillFactor>
	<WVC_ToolTip_enableStatSkillFactor>Responsible for whether the stat factor on skills will be applied or not.</WVC_ToolTip_enableStatSkillFactor>

	<!-- ====================================================================================== -->
	<WVC_Label_hideEncodingGenes>Hide encoding genes</WVC_Label_hideEncodingGenes>
	<WVC_ToolTip_hideEncodingGenes>If enabled, the genes from the "Encoding" tab will always be invisible. Does not affect spawning in genepacks.

A restart is required to apply the setting.</WVC_ToolTip_hideEncodingGenes>

	<!-- ====================================================================================== -->
	<WVC_Label_serumsForAllXenotypes>Generate xenotypes serums</WVC_Label_serumsForAllXenotypes>
	<WVC_ToolTip_serumsForAllXenotypes>Affects whether serums for all possible xenotypes will be generated. Does not affect custom ones. Restart required.

May affect startup speed on modlists with a lot of mods that add xenotypes.</WVC_ToolTip_serumsForAllXenotypes>

	<!-- ====================================================================================== -->
	<WVC_Label_serumsForAllXenotypes_GenBase>Generate base xenotypes serums</WVC_Label_serumsForAllXenotypes_GenBase>
	<WVC_Label_serumsForAllXenotypes_GenUltra>Generate ultra xenotypes serums</WVC_Label_serumsForAllXenotypes_GenUltra>
	<WVC_Label_serumsForAllXenotypes_GenHybrid>Generate hybrid xenotypes serums</WVC_Label_serumsForAllXenotypes_GenHybrid>

	<!-- ====================================================================================== -->
	<WVC_Label_serumsForAllXenotypes_Recipes>Generate serum recipes</WVC_Label_serumsForAllXenotypes_Recipes>
	<WVC_ToolTip_serumsForAllXenotypes_Recipes>If enabled, it creates a recipe for each serum, allowing it to be used through the "Operation" menu, in the pawn's health tab. Restart required.</WVC_ToolTip_serumsForAllXenotypes_Recipes>

	<!-- ====================================================================================== -->
	<WVC_Label_serumsSpawnersForAllXenotypes>Generate serum spawner genes</WVC_Label_serumsSpawnersForAllXenotypes>
	<WVC_ToolTip_serumsSpawnersForAllXenotypes>If enabled, a spawner gene will be added for each serum. Restart required.</WVC_ToolTip_serumsSpawnersForAllXenotypes>

</LanguageData>